*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: 5% 10%;
    /* background-color: #eaeaea; */
    width: 80%;
    height: auto;
}
/*INICIA NAV*/
.nav{
    display: flex;
    /* background-color: royalblue; */
    align-items: center;
}
.nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nav ul li{
    list-style: none;
    margin-right: 4%;
}
.nav ul li a{
    text-decoration: none;
    color: #999999;
}
.nav ul li a:hover{
    transition: 500ms;
    color: black;
    text-decoration: underline;
}
.search input{
    border: none;
    border-bottom: 1px solid #999999;
    text-align: center;
}
.card{
    width: 100%;
    height: 700px;
    display: flex;
    border-bottom: 1px solid #999999;
}
.card-left{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-left h2{
    font-size: 40px;
}
.card-left button{
    width: 25%;
    height: 40px;
    background-color: #ea625c;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}
.text{
    display: flex;
    margin-top: 30px;
}
.line{
    width: 3%;
    height: 100px;
    border-left: 3px solid #999999;
}
.card-description{
    margin-left: 20%;
}
.card-right{
    width: 50%;
    height: auto;
    background-image: url(img/watches.jpg);
    background-repeat: no-repeat;
    background-position-x: 250px;
}
.characteristics{
    display: flex;
    justify-content: space-between;
}
.cha h3{
    font-size: 15px;
    margin-bottom: 30px;
}
.cha p{
    font-size: 15px;
    line-height: 22px;
}
.learn-more{
    display: flex;
    margin-top: 5%;
}
.learn-more span{
    font-size: 15px;
    color: #ea625c;
    font-weight: bold;
    margin-left: 5%;
}
.line-learn{
    width: 15%;
    height: 10px;
    border-bottom: 3px solid #ea625c;
}
.buy-now-container{
    width: 100%;
    height: 600px;
    margin-top: 90px;
    display: flex;
}
.buy-now-left{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
.buy-now-left h3{
    font-size: 40px;
    margin-top: 30px;
    margin-left: 3%;
}
.buy-now-left p{
    margin-top: 30px;
}
.buy-now-left button{
    width: 12%;
    height: 40px;
    background-color: #ea625c;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 3%;
}
.buy-now-right{
    width: 40%;
    height: auto;
    background-image: url(img/preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.buy-now-description{
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-top: 30px;
}
.take{
    width: 100%;
    height: 700px;
    background-image: url(img/runners.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.take h3{
    font-size: 40px;
}
.take button{
    width: 30%;
    height: 40px;
    background-color: #ea625c;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}
.take-description{
    display: flex;
    margin-top: 20px;
}
.take-text{
    margin-left: 55%;
    padding-top: 200px;
}
.white-line{
    width: 1%;
    height: 100px;
    border-left: 3px solid white;
    margin-right: 3%;
}
@media (max-width: 768px){
    .card-left button{
        width: 50%;
    }
    .cha{
        margin-right: 15px;
    }
}
@media (max-width: 573px){
    .buy-now-left button{
        width: 50%;
    }
}
@media (max-width: 520px){
    .nav img{
        display: none;
    }
}
@media (max-width: 507px){
    .take-description{
        font-size: 15px;
    }
    .take-text button{
        width: 50%;
    }
}
@media (max-width: 425px){
    .take{
        height: 800px;
    }
}
@media (max-width: 375px){
    .buy-now-container{
        height: 800px;
    }
    .buy-now-left button{
        width: 50%;
        height: 50px;
    }
    .card-description button{
        height: 50px;
    }
}
@media (max-width: 320px){
    .card-description button{
        width: 60%;
        height: 70px;
    }
    .take-text button{
        width: 60%;
    }
}